*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}
.mainDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center; 
}
.inputs{
    display: flex;
    flex-direction: column;
    align-content:space-between;
}

input{
    margin-bottom: 10%;
}

button{
    margin-top: 1%;
    margin-bottom: 5%;
} 
main{
    width: 80%;
    text-align: center;
}
table{
    user-select: none;
    margin: auto;
    max-width: 100%;
}
td{
    width: 20px;
    height: 15px;
}

td.selected{
    color: rgb(21, 172, 41);
    background-color: aquamarine;
    border-radius: 70%;    
}

section{
    margin:auto;
}
